body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
  }
  
.content {
    flex: 1;
    padding: 40px;
    background-color: #ffffff;
}

h2 {
    font-size: 26px;
    color: #2e7d32;
    margin-top: 30px; /* Mover o título para baixo, após o formulário */
    text-align: center; /* Centralizar o título */
}

.form-agendamento {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

.form-group input,
.form-group button {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-group button {
    background-color: #388e3c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #092f0b;
}

.mensagem-agendamento {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Estilo para o botão no canto superior direito */
.ver button[type="button"] {
  position: fixed;
  top: 10px; /* Distância do topo */
  right: 10px; /* Distância da direita */
  padding: 10px 15px; /* Ajuste do tamanho do botão */
  background-color: #4CAF50; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de clique */
  z-index: 1000; /* Garantir que o botão fique na frente de outros elementos */
}

button[type="button"]:hover {
  background-color: #092f0b; /* Cor de fundo ao passar o mouse */
}
